.footer {
  position: absolute;
  bottom: 0;
  height: 10vh;
  width: 100vw;
  border-top: 5px solid white;
  padding-left: 80px;
  padding-right: 80px;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-areas: "business socials strout";
}
.business--card {
  grid-area: business;
  ul {
    list-style: none;
    font-family: var(--font-text);
  }
}
.socials {
  grid-area: socials;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.socials > div {
  width: 80px;
  height: 80px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  &:hover {
    scale: 1.15;
    opacity: 1;
  }
  > svg {
    pointer-events: none;
  }
}

.strout-co {
  grid-area: strout;
  width: 100px;
  margin-left: auto;
  // height: 40px;
  background-image: url("/src/images/stroutco/c3.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  // border: 1px solid salmon;
  padding-bottom: 10px;
  font-size: 12px;
  &:hover {
    scale: 1.15;
  }
}
