@use "root";
@media only screen and (max-width: 1000px) {
  .site--shell {
    max-width: 600px;
  }
  .no-mobile {
    display: none;
  }

  .header--container {
    height: 28vh;
    bottom: 0;
  }

  .papermation--plot {
    width: 12.5vw;
    max-width: 75px;
    height: 80px;
    background-size: contain;
  }

  .farmland {
    bottom: 18vh;
    .farm {
      max-width: 60px;
    }
  }
  .mobile--lander--pad {
    position: absolute;
    bottom: -1vh;
    height: 19vh;
    width: 100%;
    background: linear-gradient(darkslategray, rgb(29, 29, 29));

    .mobile--gallery--sign {
      position: absolute;
      top: 10%;
      left: 10%;
      display: flex;
      flex-direction: column;

      :nth-child(2) {
        margin-left: 4rem;
      }
      :nth-child(3) {
        margin-left: 10rem;
      }

      .g-sign {
        color: var(--color-back);
        font-size: 3rem;
        opacity: 2%;
      }
    }
  }
  .studio {
    align-content: flex-start;
    padding-top: 0;
    max-height: 800px;
  }
  .pop-up-gallery-case {
    grid-template-columns: 100%;
    grid-template-rows: 40% 60%;
    padding: 0;

    .pop-up-gallery-left {
      .popUpSlideBox {
        .pop-up-slide-header {
          .pop-up-slide-title {
            // color: pink;
            font-size: 16px;
            bottom: -20px;
            padding: 5px;
          }
        }
      }
    }
    .pop-up-gallery-right {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      margin-top: 2rem;
      // justify-content: "center";
      .pop-up-gallery-thumb {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  .pop-up-gallery-title {
    transform: translateY(-50px);
  }
  .pop-up-gallery-case {
  }

  .slider-display {
    border: 0px;
    align-items: flex-start;
  }
  .slide {
    height: 400px;
    h1 {
      font-size: 1.5rem;
      color: black;
    }
  }
  .rock--bottom--monitor {
    padding: 10px 0px;
    width: 90vw;
  }
  .rock--comm--quotes {
    display: grid;
    grid-template-columns: 100% 100% 100%;
    gap: 0%;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    background-image: url("/src/images/commissioned.jpg");
    background-size: cover;
    background-position: center;
    overflow-x: hidden;

    .imageshere {
      background-color: transparent;
      opacity: 0;
    }
    .quote {
      width: 100%;
      padding: 5px;
      // opacity: 0.4;
    }
    & > * {
      // box-sizing: border-box;
      // border: 3px solid black;
      animation: swing 7s ease-in-out 0s infinite alternate;
    }
    p {
      position: relative;
      border: 0px solid black;
      height: 100px;

      .quoter {
        position: absolute;
        bottom: 10px;
        right: 0;
      }
    }
  }
  @keyframes swing {
    0% {
      transform: translateX(0);
    }
    40% {
      transform: translateX(0%);
    }
    60% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(-200%);
    }
  }

  .rock--bottom {
    padding-left: 0;
    display: flex;
    justify-content: center;
  }
  .rock--bottom--monitor {
    margin: 0;
  }

  .bottom--linker--box {
    position: absolute;
    right: 0;
    top: 1vh;
    justify-content: flex-start;
    gap: 30px;
    overflow-x: hidden;
  }
  .link--clickable {
    font-size: 2rem;
  }
  .rock--comm--quotes {
    height: 150px;
  }

  .quoter {
    position: absolute;
    bottom: 40%;
    right: 8px;
  }

  .imageshere {
    height: 100px;
  }
  #mobileShower {
    pointer-events: all;
    // display: block;
    background-color: var(--color-back);
    width: 60px;
    height: 60px;
    background-image: url("/src/images/menubg.png");
    background-size: cover;
  }
  #mobileShower:hover {
    // opacity: 0.1;
    scale: 1.05;
    border: 1px solid black;
  }
  .mobile-hider {
    transform: translateX(100vw);
  }

  .footer {
    padding: 10px;
    padding-top: 0px;
    grid-template-columns: 25% 50% 25%;
  }
  .business--card {
    font-size: 8px;
  }
  .socials {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
  }
  .socials > div {
    width: 40px;
    height: 40px;
  }
  .strout-co {
    width: 60px;
    padding-bottom: 0;
    font-size: 8px;
  }

  #myForm {
    margin-top: 0;
    width: 100%;

    #submit {
      position: absolute;
      bottom: 0;
      right: 50%;
    }
  }
}

@media only screen and (max-width: 600px) {
  .site--shell {
  }
}
