.rock--bottom {
  // display: none;
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url("../images/Final-ONLINE-Grove.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding-top: 10vh;
}
.rock1 {
  display: none;
}
.rock2 {
  background-image: url("../images/ph-portraitwide.png");
  // display: none;
  .artist--box {
    display: none;
  }
  .footer {
    background-color: rgba(237, 237, 237, 0.859);
  }
}
.rock--bottom--monitor {
  width: 100px;
  height: 65vh;
  width: 70vw;
  background-color: rgba(169, 169, 169, 0.51);
  border: 3px solid white;
  padding: 25px;
  overflow-y: scroll;
  p {
    margin-top: 25px;
  }
}
.rock--comm--quotes {
  display: flex;
  gap: 10%;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 50px;
}
.rock--comm--quotes > p {
  position: relative;

  border: 3px solid black;

  height: 100px;
  &.quoter {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.bottom--linker--box {
  position: absolute;
  right: 0;
  top: 10vh;
  height: 40vh;
  // border: 5px solid white;
  border-right: none;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: space-evenly;
  gap: 20px;
}

.link--clickable {
  font-size: 2rem;
  font-family: var(--font-titles);
  background-color: aliceblue;
  color: black;
  margin-left: 10px;
  margin-right: 10px;
  &:hover {
    scale: 1.05;
  }
}

.artist--box {
  position: absolute;
  z-index: 20;
  bottom: 0vh;
  right: 0;
  width: 50vh;
  height: 50vh;
  /* border-top: 5px solid white;
    border-left: 5px solid white;
    border-bottom: 5px solid white; */
}

.artist--portrait {
  position: absolute;
  z-index: 5;
  right: 0;
  width: 80%;
  height: 100%;
  background-image: url("../images/artistplaceholder.png");
  background-size: contain;
  background-position: right bottom;
  background-repeat: no-repeat;
}
.artist--bg {
  position: absolute;
  right: 0;
  width: 100%;
  aspect-ratio: 1/1;
  /* height: 100%; */
  background-image: url("../images/artistbg.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}
.artist--fg {
  position: absolute;
  z-index: 10;
  right: 0;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 100%;
  /* background-color: wheat; */
}

.afg--plant {
  width: 25%;
  aspect-ratio: 1/1;
  /* border: 3px solid yellow; */
  background-image: url("../images/treescapefg2.png");
  background-size: contain;
  background-position: right bottom;
  background-repeat: no-repeat;
}

/* 
  .footer > divs {
    background-color: darkblue;
  } */
